<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title class="ion-text-center">
      Push Notification
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-segment [(ngModel)]="segment" (ionChange)="segmentChanged()">
    <ion-segment-button value="G">
      <ion-icon name="person-outline"></ion-icon>
      <ion-icon name="notifications-outline" class="icono-notificacion" *ngIf="flagGorras"></ion-icon>
      <ion-label>Gorras</ion-label>
    </ion-segment-button>
    <ion-segment-button value="C">
      <ion-label>Carros</ion-label>
      <ion-icon name="notifications-outline" class="icono-notificacion" *ngIf="flagCarros"></ion-icon>
      <ion-icon name="car-outline"></ion-icon>
    </ion-segment-button>
  </ion-segment>
  <ion-grid>
    <ion-row>
      <ion-col size="12" *ngFor="let push of listaNotificaciones" [ngClass]="{'ocultar-col': push.type != segment}">
        <ion-item *ngIf="push.type == segment" (click)="openNotification(push)">
          <ion-icon name="radio-button-on-outline" class="icon-ntf" *ngIf="!push.read"></ion-icon>
          <ion-avatar slot="start">
            <img src="{{push.img}}">
          </ion-avatar>
          <ion-grid class='ion-no-margin ion-no-padding'>
            <ion-row class='ion-no-margin ion-no-padding'>
              <ion-col class='ion-no-margin ion-no-padding' size="12">
                <ion-label>{{push.title}}</ion-label>
              </ion-col>
              <ion-col class='ion-no-margin ion-no-padding' size="12">
                <p>{{push.descripcion}}</p>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>